# Data Inconsistensies
1. Inconsistent Format:- 
                        When data is manually entered, different people may use different formatting conventions for same type of information such as:
    1. Date
    2. Time
    3. Currency
    4. Percentage
    5. Number

2. Inconsistent Naming conventions:-
                         In this, data refer to situations where the same or similar data elements are named differently across a dataset or across multiple data sources. This can lead to significant challenges in data analysis and integration.
    1. Capitalization
    2. Abbreviations
    3. Acronyms
    

3. Typographical Error:-
                        When data is entered by hand, it can be difficult to identify and correct typos or errors. This can lead to significant errors in data analysis and data integration.
    1. Spelling Mistakes
    2. Transposition of characters
    3. Accidental omission or addition of characters
    4. Mixing up Similar looking characters
    5. Inconsistent use of special characters or punctuation

4. Duplication:- 
                Duplication in data refers to the presence of identical or highly similar records within a dataset. Duplicate data can occur for various reasons, such as:
    1. Data Entry Errors
    2. Data Integration Issues
    3. Data Processing Problems

5. Contradictory:- 
                Contradictory data refers to the presence of conflicting or contradictory information within a dataset. Contradictory data can occur for various reasons, such as:
    1. Conflicting customer's information
    2. Discrepancies in financial data
    3. Inconsistent product data

In [2]:
import pandas as pd

In [3]:
data = {
    'date': ['2021-12-11', '01-12-2022','2022/12/01','12-01-2021'],
    'country': ['USA', 'U.S.A', 'America', 'United States of America'],
    'name': ['Abdullah', 'Abdulah', 'Abduulah', 'Abdulla'],
    'sales_2020': [100, 200, None, 200],
    'sales_2021': [None, 150, 300, 150]
}
df = pd.DataFrame(data)

In [4]:
df.head()

         date                   country      name  sales_2020  sales_2021
0  2021-12-11                       USA  Abdullah       100.0         NaN
1  01-12-2022                     U.S.A   Abdulah       200.0       150.0
2  2022/12/01                   America  Abduulah         NaN       300.0
3  12-01-2021  United States of America   Abdulla       200.0       150.0

In [8]:
#Standardizing the data format
df['date'] = pd.to_datetime(df['date'], errors = 'coerce')
df['date'] = df['date'].dt.strftime('%Y-%m-%d')
df.head()

         date                   country      name  sales_2020  sales_2021
0  2021-12-11                       USA  Abdullah       100.0         NaN
1         NaN                     U.S.A   Abdulah       200.0       150.0
2         NaN                   America  Abduulah         NaN       300.0
3         NaN  United States of America   Abdulla       200.0       150.0

In [29]:
# Harmoize the name of country
country_mapping = {'USA': 'America', 'U.S.A': 'America', 'United States of America': 'America'}
df['country'] = df['country'].replace(country_mapping)

In [31]:
df.head()

         date  country      name  sales_2020  sales_2021
0  2021-12-11  America  Abdullah       100.0         NaN
1  2021-12-11  America   Abdulah       200.0       150.0
2  2021-12-11  America  Abduulah       200.0       300.0
3  2021-12-11  America   Abdulla       200.0       150.0

In [36]:
# Correct the typographical mistakes in name
df['name'] = df['name'].replace({'Abdulah': 'Abdullah'})
df['name'] = df['name'].replace({'Abduulah': 'Abdullah'})
df['name'] = df['name'].replace({'Abdulla': 'Abdullah'})

In [37]:
df.head()

         date  country      name  sales_2020  sales_2021
0  2021-12-11  America  Abdullah       100.0         NaN
1  2021-12-11  America  Abdullah       200.0       150.0
2  2021-12-11  America  Abdullah       200.0       300.0
3  2021-12-11  America  Abdullah       200.0       150.0

In [40]:
# Resolving Contradictory data
df = df.drop(df[df['sales_2021'] <= ['sales_2020']].index)
df.head()

TypeError: Invalid comparison between dtype=float64 and ndarray