# Data Concatenation
Data concatenation is the process of combining datasets by stacking them either vertically (adding rows) or horizontally (adding columns).

In [7]:
# import libraries
import pandas as pd

In [8]:
# First dataset
data1 = {'Name': ['Abdullah', 'Ahmad', 'Ali'], 'Age': [21, 20, 22]}

In [9]:
# Second Dataset
data2 = {'Name': ['Sana', 'Aisha', 'Hajra'], 'Age': [21, 20, 22]}

In [10]:
# Third Dataset
data3 = {'City': ['Faisalabad', 'Quetta', 'Karachi'], 'Province': ['Punjab', 'Balochistan', 'Sindh']}

In [11]:
# Converting datasets to pandas Dataframe
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

In [12]:
# Concatenating rows
Concatenated_rows = pd.concat([df1, df2])

In [13]:
# Concatenating Columns
Concatenated_columns = pd.concat([df1, df3], axis=1)

In [15]:
print(Concatenated_rows)
print("--------------------")
print(Concatenated_columns)

       Name  Age
0  Abdullah   21
1     Ahmad   20
2       Ali   22
0      Sana   21
1     Aisha   20
2     Hajra   22
--------------------
       Name  Age        City     Province
0  Abdullah   21  Faisalabad       Punjab
1     Ahmad   20      Quetta  Balochistan
2       Ali   22     Karachi        Sindh