# 1. Standard Scaling:-
Standard scaling is a data preprocessing technique that transforms data to have a mean of 0 and a standard deviation of 1. This is achieved by subtracting the mean of the data from each data point and then dividing by the standard deviation. It's often used in machine learning to ensure that features are on a similar scale, preventing features with larger magnitudes from dominating the learning process. 

The formula is as follows:

##### Standardized = (X - mean) / std

In [14]:
# import libraries
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler, RobustScaler

In [11]:
# Example Dataset
data = {
    'age' : [25, 30, 35, 40, 45],
    'height' : [160, 165, 170, 175, 180],
    'weight' : [50, 55, 60, 65, 70]
}
df = pd.DataFrame(data)
df

   age  height  weight
0   25     160      50
1   30     165      55
2   35     170      60
3   40     175      65
4   45     180      70

In [4]:
# import the scalar
scalar = StandardScaler()

In [8]:
# Fit the scalar on data
scaled_df = scalar.fit_transform(df)
scaled_df

# Convert into pandas dataframe
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df

        age    height    weight
0 -1.414214 -1.414214 -1.414214
1 -0.707107 -0.707107 -0.707107
2  0.000000  0.000000  0.000000
3  0.707107  0.707107  0.707107
4  1.414214  1.414214  1.414214

# Min-Max Scalar

In [12]:
# Import the scalar
scalar = MinMaxScaler()

# Fit the scalar on data
scaled_df = scalar.fit_transform(df)
scaled_df

# Convert into pandas dataframe
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df

    age  height  weight
0  0.00    0.00    0.00
1  0.25    0.25    0.25
2  0.50    0.50    0.50
3  0.75    0.75    0.75
4  1.00    1.00    1.00

# Max Absolute Scalar

In [13]:
#import scalar
scalar = MaxAbsScaler()

# Fit the scalar on data
scaled_df = scalar.fit_transform(df)
scaled_df

# Convert into pandas dataframe
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df

        age    height    weight
0  0.555556  0.888889  0.714286
1  0.666667  0.916667  0.785714
2  0.777778  0.944444  0.857143
3  0.888889  0.972222  0.928571
4  1.000000  1.000000  1.000000

In [15]:
# Import the scalar
scalar = RobustScaler()
# Fit the scalar on data
scaled_df = scalar.fit_transform(df)
scaled_df

# Convert into pandas dataframe
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df

   age  height  weight
0 -1.0    -1.0    -1.0
1 -0.5    -0.5    -0.5
2  0.0     0.0     0.0
3  0.5     0.5     0.5
4  1.0     1.0     1.0